:root{
    /* Colores */
    --color-boxes:#D9D9D9;
    --color-navbar:#d9d9d9;
    --color-navbar-hover:#bfbfbf;
    --color-primario:black;
    --color-secundario:white;
    --color-acento:gray;
    --color-bg-light:whitesmoke;
    --color-bg-dark:rgb(89, 89, 89);
    --color-bg-map:lightpink;

    /* Tipografía */
    --font-principal:'Lato', sans-serif;

    /* Bordes y radios */
    --radius-small:10px;
    --radius-medium:20px;
    --radius-circle:50%;

    /* Tamaños de fuente */
    --font-h1:58px;
    --font-h2:48px;
    --font-h3:32px;
    --font-h4:28px;
    --font-p:18px;

    /* Espaciados */
    --gap-small:10px;
    --gap-medium:20px;
    --gap-large:50px;
}

body{
    overflow-x: hidden;
}

h1, h2, h3, h4, p, ul{
    margin : 0px;
}

/* ----------------NAVBAR--------------- */
header{
    background-color: var(--color-navbar);
}

nav{
    display:grid;
    grid-template-columns: 0.5fr 4fr 1fr;
    align-items: center;
    height: 70px;
}

nav > .logo{
    display : flex;
    justify-content: center;
    align-items: center;
}

nav > .logo > img{
    width : 50px;
}

ul {
    list-style: none;
    padding: 0;
}

nav > .nav-links{
    display : grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    height : 100%;
}

nav > .nav-links > li{
    width : 100%;
    height : 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav > .nav-links > li:hover{
    background-color: var(--color-navbar-hover);
}

nav > .nav-links > li > a{
    text-decoration: none;
    color: var(--color-primario);
    font-size: 18px;
    font-family: var(--font-principal);
}

nav > .nav-icons{
    display : flex;
    justify-content: right;
    padding-right: 20%;
    align-items: center;
    gap : 20%;
}

nav > .nav-icons > .menu-icon{
    display:none;
}

nav > .nav-icons > div > img{
    width : 35px;
}

/* ----------------PORTADA--------------- */
.portada{
    position: relative;
    width: 100%;
    height:100vh;
}

.portada-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.portada-overlay > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portada-text{
    position : relative;
    z-index: 1;
    top: 10%;
    left: 10%;
}

.portada-text > h1{
    font-size: var(--font-h1);
    color: var(--color-secundario);
    text-align: start;
    font-family: var(--font-principal);
}

.portada-text > p{
    font-size: 24px;
    font-style:oblique;
    color: var(--color-secundario);
    text-align: start;
    font-family: var(--font-principal);
    margin-top: 0px;
}

/* ----------------CAR_TYPES--------------- */
#car_types > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}

#car_types > ul > li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    border: 1px solid #ccc;
    border-radius: var(--radius-medium);
    background-color: var(--color-boxes);
}

.car{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding:10%;
    height: 100%;
    
}

.car-info > h2{
    font-family: var(--font-principal);
    font-size: var(--font-h4);
    margin-bottom: 10px;
}

.car-info > p{
    font-family: var(--font-principal);
    font-size: var(--font-p);
    margin-bottom: 20px;
}

#car_types > ul > li > .car > img{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.car-options{
    width: 100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.white-buttons{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    border-radius: var(--radius-medium);
    padding: 5px 15px;
    font-family: var(--font-principal);
    font-size: var(--font-p);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-primario);
}

.white-buttons:hover{
    background-color: var(--color-acento);
    color: var(--color-secundario);
    cursor: pointer;
}

.black-button{
    width: 25px;
    height: 25px;
    background-color: black; 
    border-color: black;
    border-radius: var(--radius-circle);
    cursor: pointer;
}

.black-button:hover{
    border-color:black;
    border-right-style:double;
    border-width: 3px;
}

.yellow-button{
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: var(--radius-circle);
    cursor: pointer;
}

.yellow-button:hover{
    border-color:black;
    border-right-style: double;
    border-width: 3px;
}

.red-button{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: var(--radius-circle);
    cursor: pointer;
}

.red-button:hover{
    border-color:black;
    border-right-style:double;
    border-width: 3px;
}

.grey-button{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: var(--radius-circle);
    cursor: pointer;
}

.grey-button:hover{
    border-color:black;
    border-right-style: double;
    border-width: 3px;
}

.blue-button{
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: var(--radius-circle);
    cursor: pointer;
}

.blue-button:hover{
    border-color:black;
    border-right-style: double;
    border-width: 3px;
}

/* ----------------DEALERS-----------------*/
#dealers{
    height:400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    background-color: var(--color-bg-light);
}

#dealers > h2{
    font-family: var(--font-principal);
    font-size: 82px;
    margin-bottom: 20px;
}

#dealers > p{
    font-family: var(--font-principal);
    font-size: 28px;
    margin-top: 30px;
}

/* ----------------MAP--------------- */
#map{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--color-bg-map);
}

#map > img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 0;
}

#map > #map-text{
    position : relative;
    z-index: 1;
    top: 30%;
    left: 10%;
    background-color: #d9d9d95f;
    padding: 35px;
    width:fit-content;
    border-radius: var(--radius-small);
}

#map-text > h3{
    font-family: var(--font-principal);
    font-size: 48px;
    color: var(--color-secundario);
}

/* ----------------PROPERTIES--------------- */
#properties{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--color-bg-light);
}

.property{
    flex: 0 0 700px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-boxes);
    padding: 30px;
    width: 30%;
    border-radius: var(--radius-small);
    box-sizing: border-box;
}

.property > h4{
    font-family: var(--font-principal);
    font-size: 32px;
    padding-left : 50px;
}

.property > img{
    width: 550px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--radius-small); 
    padding: 50px;
}

.property > button{
    width: fit-content;
    margin-left: 50px;
}

/* ----------------DESIGN--------------- */
#design{
    width: 100%;
    height: 90vh;
    position:relative;
}

#design > .design-image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 0;
}

.design-image> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design-text{
    position : relative;
    z-index: 1;
    top: 70%;
    left: 10%;
    color: var(--color-secundario);
}

.design-text > h2{
    font-family: var(--font-principal);
    font-size: var(--font-h2);
}

.design-text > p{
    font-family: var(--font-principal);
    font-size: 18px;
}

/* ----------------WHEEL PROGRAM--------------- */
#wheel_program{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--color-bg-light);
}

.wheel-text{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10%;
}

.wheel-text > h2{
    font-family: var(--font-principal);
    font-size: var(--font-h2);
}

.wheel-text > p{
    font-family: var(--font-principal);
    font-size: 18px;
}

.wheel-image > img{
    height: 700px;
}

/* ----------------FOOTER--------------- */
footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-light);
}

/* Contact section */
#contact-now{
    display:flex;
    flex-direction: row;
    padding:50px 15% 50px 15%;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
}

#contact-now > h2{
    font-family: var(--font-principal);
    font-size: 18px;
    color: var(--color-secundario);
}

/* Footer Info */
#footer-info{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    display:grid;
    grid-template-rows: 5fr 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.footer-subscribe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subscribe-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
}

.subscribe-text > h3{
    font-family: var(--font-principal);
    font-size: 24px;
}

.subscribe-text > p{
    font-family: var(--font-principal);
    font-size: 16px;
}

.subscribe-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.subscribe-form > .form-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border-radius: var(--radius-medium);
    border: solid 2px var(--color-secundario);
    font-size: 16px;
}

.form-inputs > input{
    border: none;
    height: 80%;
    width: 70%;
    border-radius: var(--radius-medium);
    padding-left: 15px;
    font-size: 16px;
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

.social-media-icons > img{
    background-color: var(--color-secundario);
    border-radius: var(--radius-circle);
    width: 30px;
}

.footer-menus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:90%;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.footer-menu_item{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-menu_item > h4{
    font-family: var(--font-principal);
    font-size: 20px;
}

.footer-menu_item > ul > li > a{
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--font-principal);
    font-size: 16px;
}

.footer-scrolltop{
    display:flex;
    flex-direction: column;
    margin-left: 90%;
}

.footer-scrolltop > img{
    width: 40px;
    cursor: pointer;
}

/* ----------------RESPONSIVE--------------- */
@media screen and (max-width: 850px){
    /* HEADER */
    header > .navbar{
        grid-template-columns: 1fr 1fr 3fr;
        align-items: center;
        justify-content: space-around;
    }

    .navbar > .nav-links > li{
        display:none;
    }

    .navbar > .nav-icons > .menu-icon{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    /* CAR TYPES */
    #car_types > ul{
        grid-template-columns: 1fr;
    }

    #car_types > ul > li > .car{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #car_types > ul > li > .car > .car-info{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #car_types > ul > li > .car > .car-options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #car_types > ul > li > .car > .car-options > .color_buttons{
        display: none;
    }

    /* DEALERS */
    #dealers > h2{
        font-size: 48px;
    }
    #dealers > p{
        font-size: 18px;
    }

    /* MAP */
    #map{
        height: 70vh;
    }
    #map > #map-text{
        top: 20%;
        left: 5%;
        padding: 20px;
    }
    #map-text > h3{
        font-size: 32px;
    }

    /* PROPERTIES */
    #properties{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .property{
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .property > img{
        padding: 0px;
        width: 90%;
    }
    .property > h4{
        padding-left: 0px;
        text-align: center;
    }
    .property > button{
        margin-left: 0px;
    }

    /* DESIGN */
    #design{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    #design > .design-image{
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
    }
    .design-text{
        top: 0px;
        left: 0px;
        background-color: #d9d9d95f;
        color: black;
        padding: 20px;
        display:flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding-left: 15%;
    }

    /* WHEEL PROGRAM */
    #wheel_program{
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        overflow: hidden;
    }
    .wheel-text{
        height: 250px;
        width: 90%;
        gap:10px;
        align-items: center;
        text-align: center;
    }
    .wheel-text > h2{
        font-size: 32px;
    }
    .wheel-text > p{
        font-size: 12px;
    }
    .wheel-image > img{
        height: auto;
        width: 100%;
    }

    /* FOOTER */
    footer > #contact-now{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    #contact-now > h2{
        font-size: 15px;
    }
    #footer-info > .footer-subscribe > .subscribe-form > .consent > label{
        font-size: 12px;
    }

    #footer-info > .footer-menus{
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
    }
}
